body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #babea0;
}

.calculator {
    border: 5px solid #0c0b0b;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 500px;
    /*height: 200px;*/
}

#display {
    width: 100%;
    height: 50px;
    font-size: 1.5em;
    text-align: right;
    padding: 10px;
    box-sizing: border-box;
    border: none;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1px;
}

.btn {
    height: 50px;
    font-size: 1.2em;
    border: none;
    background-color: #f9f9f9;
    cursor: pointer;
}

.btn:hover {
    background-color: #ddd;
}
